*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0;
}

.header {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

.logo {
  text-align: center;
  width: 40%;
}

.nav {
  text-align: center;
  list-style: none;
  width: 60%;
}

.nav li {
  display: inline-block;
  padding-right: 1em;
}
