*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0;
  color: #FFFFFF;
  font-family: 'Muli', sans-serif;
}

.header {
  height: 4em;
  width: auto;
  display: flex;
  align-items: center;
  color: #616161;
}

.logo {
  width: 30%;
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.75em;
  margin-left: 1em;
}

.nav {
  text-align: right;
  width: 70%;
  margin-right: 1em;
}

.nav li {
  padding-right: 2em;
  display: none;
  font-size: 1em;
}

#mag-icon {
  padding-right: 1em;
}

/*End of Nav Area*/

.area-1 {
  height: 25em;
  width: 100%;
  background-image: url("../img/pic-1.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  /*justify-content: center;*/
}

.panel-1 {
  background-color: #263238;
  padding: 1em;
  width: 92%;
  margin: 0 0 1em 1em;
}

li {
  font-size: .8em;
  display: inline;
  padding-right: 5px;
}

.panel-1 p {
  margin: 0 0 .4em;
  font-size: 1.4em;
}

/*Area-1 Ends*/

.area-2 {
  height: 8em;
  width: auto;
}

.pic-2 {
  height: 8em;
  width: 40%;
  background-image: url("../img/pic-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
}

.panel-2 {
  width: 60%;
  height: 100%;
  background-color: #0D47A1;
  padding: 0 1em;
  float: left;
}

/*Area-2 Ends*/

.area-3 {
  height: 8em;
  width: auto;
}

.pic-3 {
  height: 8em;
  width: 40%;
  background-image: url("../img/pic-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
}

.panel-3 {
  width: 60%;
  height: 100%;
  background-color: #009688;
  padding: 0 1em;
  float: left;
}

span {
  display: none;
}

.slicknav_menu {
	/*display: none;*/
}

/*Media Query Section Begins*/

@media only screen and (min-width: 550px) {

  .area-2, .area-3 {
    height: 18em;
    width: 50%;
    float: left;
  }

  .pic-2, .pic-3 {
    width: 100%;
    height: 65%;
  }

  .panel-2, .panel-3 {
    width: 100%;
    height: 35%;
  }

  .panel-1 {
    width: 18em;
    padding: 2em;
    margin: 0 0 2em 2em;
  }

  span {
    display: block;
  }

}

@media only screen and (min-width: 950px) {

  .nav li {
    display: inline-block;
  }

  #menu-icon {
    display: none;
  }

  .area-1 {
    height: 36em;
    width: 65%;
    float: left;
  }

  .area-2, .area-3 {
    height: 18em;
    width: 35%;
  }



}
